{%extends 'pictures/base.html'%}

{% block content %}
{{block.super}}

<div class="container">
    <div class="row">
       {%if category %}
        <h1 style="font-style: italic; font-weight: bold;">Take a look on images</h1>
        <h2>Found {{ category|length }} of searched term {{message}}</h2>
        {% else%}
        <div class="row" style="padding-top: 30px;">
            <h1>{{images|length}} {{category|capfirst}} Their is no image found at the moment</h1>
        </div>
        {% endif %}
        <div class="row">
            {% for image in images %}
            <div class="col-md-4">
                <img src="{{image.image.url}}" alt="" class="img-fluid" data-toggle="modal"
                    data-target="#{{image.id}}">
                <p>{{image.description|truncatewords:6}}</p>
                <p>
                    {% for category in image.categories.all %}
                    <span class="badge badge-primary" style="font-size:1em;">{{category}}</span>
                    {% endfor %}
                </p>
            </div>
            <div id="{{image.id}}" class="modal fade" role="dialog">
                <div class="modal-dialog image">
                    <div class="modal-content ">
                        <div class="modal-header">
                            <h4 class="modal-title">{{image.title}}</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <img src="{{image.image.url}}" alt="" class="img-fluid">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#{{image.id}}-info" style="font-size: 13px;"><i class="fas fa-info-circle" style="background-color: rgb(107, 107, 224);"></i> Info</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal"
                                style="border: 0.5px solid #d3d3d3; font-size: 15px;">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="{{image.id}}-info" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content ">
                        <div class="modal-header">
                            <h4 class="modal-title">{{image.title}} Caption</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p>{{image.description}}</p>
                        </div>
                        <div class="modal-footer">
                            <input class="form-control input-lg" type="text" style="font-size: 15px;" value="{{image.image.url}}"
                                id="{{image.id}}-url">
                            <button class="btn btn-primary" onclick="copyToClipboard('{{image.id}}-url')" style="font-size: 15px;">Copy</button>
                        </div>
                    </div>

                </div>
            </div>

            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}