<nav class="navbar navbar-dark transparent justify-content-between" style="background-color: black; height: 100%;">
    
  <a class="navbar-brand" style="color: white; font-size: 35px; font-style: italic; text-align: center;" href="/">ADAMS~~GALLERY</a>
  
  <div class="col-sm-4 col-md-4 navbar-right">

    <form class="navbar-form" role="search" action="{% url 'search' %}">

      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for category" name="article">
        <div class="input-group-btn">
         
        </div>
      </div>

    </form>
</nav>